/* DEBUG */
.box{
    border: 1px solid black;
}
/* COMMON */
img{
    width: 80%;
}
#avatar{
    width: 50%;
}
nav{
    background-color: #2C3E50;
}

#header-nav{
    color: white;
}

#banner{
    background-color: #1ABC9C;
    color: white;
    /* DEBUG */
    min-height: 300px;
    border: 1px solid black;
}
#main-card{
    color: black;
}
.card-img{
    border-radius: 15px;
}
#about{
    background-color: #1ABC9C;
    color: white;
}

#footer{
    background-color: #3A546D;
}
#copyright{
    background-color: #2C3E50;
}

/* NAV */
.ms_menu-list li{
    padding-left: 1rem;
    list-style-type: none;
}
.ms_menu-list a{
    text-decoration: none;
    color: inherit;
}
