/* DEBUG */
.box{
    border: 1px solid black;
}
/* COMMON */
img{
    width: 100%;
}

nav{
    background-color: #2C3E50;
}

#header-nav{
    color: white;
}

#banner{
    background-color: #1ABC9C;

    /* DEBUG */
    min-height: 300px;
    border: 1px solid black;
}
.card-img{
    border-radius: 15px;
    /* DEBUG */
    background-color: lawngreen;
}

#about{
    background-color: #1ABC9C;
}

#footer{
    background-color: #3A546D;
}
#copyright{
    background-color: #2C3E50;
}