/* COMMON */
img{
    width: 100%;
}

nav{
    background-color: #2C3E50;
}

#header-nav{
    color: white;
}

#banner{
    background-color: #1ABC9C;

    /* DEBUG */
    min-height: 300px;
    border: 1px solid black;
}